@model CRUD_Porject.ViewModel.CustomerSaleInputModel
@{
    ViewBag.Title = "Create";
}

<div id="frm">
    <div class="row">
        <div class="col-12">
            <h3>Create new Customer entry</h3>
            @using (Html.BeginForm("Create", "Sales", FormMethod.Post, new { id = "f", enctype = "multipart/form-data" }))
            {
                <div class="form-group mb-1">
                    @Html.LabelFor(x => x.CustomersName, new { @class = "col-form-label col-2" })
                    <div class="col-4">
                        @Html.TextBoxFor(x => x.CustomersName, new { @class = "form-control form-control-sm" })
                        @Html.ValidationMessageFor(x => x.CustomersName, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="d-flex justify-content-between mb-1">
                    <h4>Books</h4>
                    <button type="button" id="add" class="btn btn-secondary btn-sm">+</button>
                </div>
                <div id="child">
                    @Html.Action("CreateNewField")
                </div>
                <div class="form-group mb-1">

                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-primary">Save</button>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section styles {
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
    <style>

        .col2 {
            display: grid;
            grid-template-columns: 2fr 1fr 2fr 
        }
    </style>
}
@section scripts {
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(() => {

            $("#add").click(() => {
                var data = $("#f").serialize();
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: "/Sales/CreateNewField",

                    data: data,
                    success: r => {
                        $("#child").append(r)
                    }

                });
            });
        });
    </script>
}

