@model CRUD_Porject.Models.Genre
@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col-12">
        <h3>Cofirm delete</h3>
    </div>
    <div class="col-12">
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.GenreName, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.GenreName)

            </div>
        </div>
        <div class="form-group row mb-1">

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.GenreID)
                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </div>
            }
        </div>
    </div>
    <div class="col-12">

        @Html.ActionLink("Back to list", "Index")
    </div>
</div>

